[Unit]
Description=Cloudflare Quick Tunnel
After=network.target

[Service]
ExecStart=/usr/local/bin/cloudflared tunnel --url http://localhost:80
Restart=always
User=ubuntu
WorkingDirectory=/home/ubuntu/health-iot-dashboard/backend

[Install]
WantedBy=multi-user.target
